.feeds-view{
  overflow-y: scroll;
  height:100%
}
.feed{
  font-size: 30px;
  padding: 10px 0;
}
.feed p{
  font-size: 18px;
  margin: 0;
}
.feed-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 11px;
}